<% include ../partials/header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1><%= title %></h1>
                

            </div>

        </div>
                                        <img class="img-responsive col-lg-4" src="https://media.licdn.com/dms/image/C5603AQHZQM52lctxww/profile-displayphoto-shrink_200_200/0?e=1556150400&v=beta&t=4tt51k6zPwmDIcNFLV02TPNUBhoZWzIo3Nw165TxYiA" />
<div class="p-3 mb-2 bg-success text-white"><i class="fas fa-grin-squint-tears"></i>

A Chinese student who focuses on data mining and business intelligence has no interest in program development, but there is no way for him to graduate without finish it 
<i class="fas fa-grin-squint-tears"></i>

<i class="fas fa-grin-squint-tears"></i>

<i class="fas fa-grin-squint-tears"></i>

<i class="fas fa-grin-squint-tears"></i>

<i class="fas fa-grin-squint-tears"></i>


</div>

    </div>




<% include ../partials/footer.ejs %>